*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{background: #242424;overflow-y: hidden;}
::-webkit-scrollbar { width: 5px;height: 0px;}
::-webkit-scrollbar-thumb {background: transparent;}
::-webkit-scrollbar-thumb:hover {background: #5c5c5c;}
a{color: grey;}
a:hover{text-decoration: none;}
@font-face {
    font-family: Roboto;
    src: url('./Mock//Roboto/Roboto-Light.ttf' ) format('opentype');
  }
